<app-header></app-header>
<div class="inicio page-transition">
  <div class="frame-wrapper">
    <div class="frame">
      <div class="div-wrapper">
        <div class="frame-2">
          <div class="frame-3">
            <div class="frame-4">
              <form [formGroup]="loginForm">
              <div class="form">
                <div class="google-button">
                  <div class="sign-in-with-google">Iniciar sesión con Google</div>
                  <img class="iconfinder-google" src="assets/registro/google.png" />
                </div>
                <div (click)="validarForm()" class="create-account-wrapper" style="cursor: pointer;"><div class="create-account">Iniciar sesión</div></div>
              </div>
              <div class="frame-5">
                <div class="frame-6">
                  <div class="text">
                    <p class="p">Empieza a organizar tus finanzas hoy<br> ¡Inicia sesión y toma el control de tus metas!</p>
                    <p class="text-wrapper-2">Comienza por organizar tus finanzas para lograr todas tus metas</p>
                  </div>
                  <div class="frame-7">
                    <div class="entry-field-wrapper">
                      <div class="entry-field">
                        <div class="entry-field-2">
                          <div class="first-name">Correo electrónico o número de teléfono</div>
                          <input
                            style="font-size: 14px;"
                            id="email"
                            type="email"
                            formControlName="email"
                            class="form-control group"
                          />
                          <div ngClass="texto-modal-interno" *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.touched || submitted)" class="text-danger">
                            <span *ngIf="loginForm.get('email')?.errors?.required">El campo es obligatorio.</span>
                            <span *ngIf="loginForm.get('email')?.errors?.email">El formato del correo es inválido.</span>
                          </div>
                        </div>
                        <div class="entry-field-3">
                          <div class="first-name">Contraseña</div>
                          <table>
                            <tr>
                              <td>
                                <input
                                  id="password"
                                  [type]="showConfirmPassword ? 'text' : 'password'"
                                  formControlName="password"
                                  class="form-control group-password"
                                  style="font-size: 14px;"
                                />
                              </td>
                              <td>
                                <span class="input-group-text" (click)="toggleConfirmPasswordVisibility()">
                                  <i style="color: #5c0c87;cursor: pointer;" class="fa" [ngClass]="{'fa-eye-slash': showConfirmPassword, 'fa-eye': !showConfirmPassword}"></i>
                                </span>
                              </td>
                            </tr>
                          </table>
                          <div ngClass="texto-modal-interno" *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.touched || submitted)" class="text-danger">
                            <span *ngIf="loginForm.get('password')?.errors?.required">El campo es obligatorio.</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="text-wrapper-3">¿Olvidaste tu contraseña?</div>
                  </div>
                </div>
                <div class="frame-8">
                  <div class="terms-and-privacy">
                    <input type="checkbox" class="rectangle" formControlName="acceptTerms" id="terms" />
                    <div class="text-wrapper-4">Acepto todos los <span style="cursor: pointer;" class="text-wrapper-5" data-bs-toggle="modal" data-bs-target="#termsModal">Terminos</span> y la <span style="cursor: pointer;" class="text-wrapper-5" data-bs-toggle="modal" data-bs-target="#privacyModal">Política de Privacidad</span></div>
                    <div ngClass="texto-modal-interno" *ngIf="loginForm.get('acceptTerms')?.invalid && loginForm.get('acceptTerms')?.touched" class="text-danger">
                      Debes aceptar los términos y condiciones.
                    </div>
                  </div>
                  <div class="remember-me">
                    <input type="checkbox" [checked]="this.loginForm.get('rememberPass')?.value" class="rectangle" id="recordar" formControlName="rememberPass"/>
                    <div class="text-wrapper-4">Recuérdame</div>
                  </div>
                </div>
              </div>
            </form>
            </div>
            <p class="no-tienes-una-cuenta">
              <span class="span">¿No tienes una cuenta?</span> <span style="cursor: pointer;" (click)="viewRegister()" class="text-wrapper-5"> Registrarse</span>
            </p>
          </div>
          <div class="overlap-group">
            <div class="rectangle-2"></div>
            <img class="image-benefits" src="assets/registro/Image-benefits.png" />
            <img class="finttu-image" src="assets/registro/finttu-registro.png" />
          </div>
          <p class="finttu-te-devuelve">Finttu te devuelve el control<br />de tus finanzas</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal de Términos y Condiciones -->
<div class="modal fade" id="termsModal" tabindex="-1" aria-labelledby="termsModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="termsModalLabel">Términos y Condiciones</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>
      <div class="modal-body">
        <iframe src="assets/documentacion/terminos_condiciones.pdf#toolbar=0" width="100%" height="500px"></iframe>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal de Política de Privacidad -->
<div class="modal fade" id="privacyModal" tabindex="-1" aria-labelledby="privacyModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="privacyModalLabel" style='font-family: "SF Pro Display-Regular", Helvetica;'>Política de Privacidad</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>
      <div class="modal-body">
        <iframe src="assets/documentacion/politica_privacidad.pdf#toolbar=0" width="100%" height="500px"></iframe>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
