.page-transition {
  animation: bounceIn 1s ease-in-out;
}

@media (min-width: 1400px) {
  .movil{
    display: none;
  }

  .web{
    display: block !important;
  }
}

/* Móviles (320px - 576px) */
@media (max-width: 1400px) {

  .page-transition {
    animation: bounceIn 1s ease-in-out;
  }

  @keyframes bounceIn {
    0% {
      opacity: 0;
      transform: scale(0.8);
    }
    50% {
      opacity: 1;
      transform: scale(1.05);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }


  .movil{
    display: block;
  }

  .web{
    display: none;
  }

  .responsive {
    font-size: 14px;
    padding: 10px;
  }

  .png-sin-fondo-1 {
    width: 90px;
    position: relative;
    height: 39px;
    object-fit: cover;
    margin-right: 5px;
  }

  .login-button {
    width: 110px;
    border-radius: var(--br-xs);
    border: 1px solid var(--color-white);
    box-sizing: border-box;
    height: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-3xs);
    font-size: 13px;
  }

  .register-button {
    width: 110px;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-indigo-100);
    box-sizing: border-box;
    height: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-3xs);
    color: var(--color-indigo-100);
    font-size: 13px;
  }

  .seccion-login-1{
    margin-top: -.71px;
    font-family: SF Pro Display-Bold, Helvetica;
    font-weight: 700;
    color: var(--black);
    font-size: 14px;
    text-align: center;
    letter-spacing: -.4px;
    line-height: 27.7px;
  }

  .text-wrapper-2 {
    position: relative;
    font-family: "SF Pro Display-Regular", Helvetica;
    font-weight: 400;
    color: var(--body-text);
    font-size: 12px;
    text-align: center;
    letter-spacing: -0.20px;
    line-height: 13.8px;
    white-space: nowrap;
    margin-bottom: 40px;
  }

  .contenedor-login {
    width: 100%;
    height: 400px;
    position: absolute;
    top: 90px; /* Mantiene la posición vertical fija */
    left: 50%;
    transform: translateX(-50%); /* Centra solo horizontalmente */
    padding: 30px;
  }

  .ya-tienes-una-cuenta {
    position: relative;
    align-self: stretch;
    font-family: "SF Pro Display-Regular", Helvetica;
    font-weight: 400;
    color: transparent;
    font-size: 9.9px;
    text-align: center;
    letter-spacing: -0.20px;
    line-height: 13.8px;
    top: 30px;
  }

  .text-wrapper-5 {
    color: #5c0c87;
    letter-spacing: -0.02px;
  }

  .span {
    color: #2d3748;
    letter-spacing: -0.02px;
  }

  .first-name {
    position: relative;
    width: fit-content;
    margin-top: -.71px;
    font-family: SF Pro Display-Regular, Helvetica;
    font-weight: 400;
    color: var(--body-text);
    font-size: 12px;
    letter-spacing: -.2px;
    line-height: 13.8px;
    white-space: nowrap;
    margin-bottom: 7px;
  }

  .group {
    position: relative;
    width: 100%;
    height: 33.87px;
    border-radius: 3.53px;
    border: 0.71px solid;
    border-color: var(--strokes);
    margin-bottom: 7px;
  }

  .texto-modal-interno {
    position: relative;
    width: fit-content;
    margin-top: -0.65px;
    font-family: "SF Pro Display-Regular", Helvetica;
    font-weight: 400;
    color: var(--body-text);
    font-size: 10px;
    letter-spacing: -0.20px;
    line-height: 13.8px;
    white-space: nowrap;
    margin-bottom: 10px;
  }

  .text-wrapper-3 {
    align-self: stretch;
    font-family: "SF Pro Display-Regular", Helvetica;
    font-weight: 400;
    color: #5c0c87;
    font-size: 9.9px;
    text-align: right;
    letter-spacing: -0.20px;
    line-height: 13.8px;
    top: 5px;
  }

  .create-account-wrapper {
    width: 253px;
    height: 34px;
    left: 0;
    background-color: #5c0c87;
    border-radius: 3.53px;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    top: 15px;
  }

  .create-account-wrapper-modal {
    width: 253px;
    height: 34px;
    left: 0;
    background-color: #5c0c87;
    border-radius: 3.53px;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    top: 0px;
  }

  .texto-modal-movil{
    font-family: "SF Pro Display-Regular", Helvetica;
  }
}

@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.terms {
  background: #e2d2ea;
  padding: 1rem;
  border-radius: 8px;
  width: 100%;
}

.otp-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.otp-input {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 18px;
  border: 2px solid #5c0c87; /* Color del borde */
  border-radius: 5px;
  color: #5c0c87; /* Color del texto */
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

.otp-input-movil {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 18px;
  border: 2px solid #5c0c87; /* Color del borde */
  border-radius: 5px;
  color: #5c0c87; /* Color del texto */
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

/* Cuando el input esté enfocado */
.otp-input:focus {
  border-color: #8a2be2; /* Un tono más brillante al enfocar */
  outline: none;
  box-shadow: 0 0 5px rgba(140, 0, 255, 0.5);
  color: #8a2be2; /* Color del texto al enfocar */
}

/* Cuando el input esté enfocado */
.otp-input-movil:focus {
  border-color: #8a2be2; /* Un tono más brillante al enfocar */
  outline: none;
  box-shadow: 0 0 5px rgba(140, 0, 255, 0.5);
  color: #8a2be2; /* Color del texto al enfocar */
}

.resend-container {
  margin-top: 10px;
  text-align: center;
}

.btn-link {
  color: #5c0c87;
  font-weight: bold;
  text-decoration: none;
}

.btn-link:disabled {
  color: grey;
  cursor: not-allowed;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  font-size: 22px;
  color: #5c0c87;
  cursor: pointer;
}

.close-button:hover {
  color: #8a2be2;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(185, 182, 182, 0.5); /* Oscurece el fondo */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Asegura que esté sobre todo */
}

.loading-gif {
  width: 230px; /* Ajusta el tamaño según necesites */
  height: 230px;
  border-radius: 50%; /* Hace el GIF redondo */
  object-fit: cover; /* Asegura que la imagen mantenga su proporción */
  border: 2px solid #663382; /* Opcional: Agregar un borde blanco */
  opacity: 0.9;
}


.loading-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px; /* Espacio entre el GIF y el texto */
}

.loading-text {
  color: #663382;
  font-size: 18px;
  font-weight: bold;
}

